{{> post-box}}

{{#if isAuthor}}
<div class="text-center my-2">
    <a href="#">
        <button data-id= "{{id}}" class="update-post btn btn-dark px-5">Edit Post</button>
    </a>
</div>
<div class="text-center my-2">
    <a href="#">
        <button data-id= "{{id}}" class="delete-post btn btn-dark px-5">Delete Post</button>
    </a>
</div>

<script src="../public/js/post-delete.js"></script>
{{/if}}